// MEMELAND Fonts
// Import from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

// Font families
$mainFont: "EB Garamond", "Palatino Linotype", "Palatino", "Book Antiqua", serif !default;
$headingFont: "EB Garamond", "Garamond", serif !default;

// Font utility classes
.text-font-body { 
  font-family: $mainFont; 
}

.text-font-heading { 
  font-family: $headingFont;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.crossed-out {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.ununderline {
  text-decoration: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-normalcase {
  text-transform: none;
}

